.btn-next {
  margin-top: 20px;
  padding: 10px 20px 10px 20px;
  background: #ff4757;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  height: 50px;
  margin-right: 100px;
  margin-bottom: 10px;
}
.logo {
  height: 18%;
  width: 20%;
  border-radius: 45px;
}
